#s-0fc1d882-26a6-4af1-96bc-744c14132ded #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fc1d882-26a6-4af1-96bc-744c14132ded #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fc1d882-26a6-4af1-96bc-744c14132ded #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fc1d882-26a6-4af1-96bc-744c14132ded > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}