#s-20dc688e-b5c1-4643-8c3e-e09e207974a6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20dc688e-b5c1-4643-8c3e-e09e207974a6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20dc688e-b5c1-4643-8c3e-e09e207974a6 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20dc688e-b5c1-4643-8c3e-e09e207974a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}