#s-220e432b-2db2-4f54-b134-e9eb5d352e52 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-220e432b-2db2-4f54-b134-e9eb5d352e52 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-220e432b-2db2-4f54-b134-e9eb5d352e52 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-220e432b-2db2-4f54-b134-e9eb5d352e52 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}