#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 47px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 31px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Row_cell_1 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Row_cell_3 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Row_cell_5 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Row_cell_7 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Row_cell_2 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Row_cell_4 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Row_cell_6 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Row_cell_8 {
  position: relative;
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-News .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Summary_1 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Index_1 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-22610c38-e70b-46c0-9e57-2efcc5325906 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}