#s-5b020b9e-2b36-4785-baf6-89e29acafd2b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b020b9e-2b36-4785-baf6-89e29acafd2b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b020b9e-2b36-4785-baf6-89e29acafd2b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b020b9e-2b36-4785-baf6-89e29acafd2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}