#s-949e641d-6108-41f5-bf2b-03209e0a4df0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949e641d-6108-41f5-bf2b-03209e0a4df0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-949e641d-6108-41f5-bf2b-03209e0a4df0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}