#s-d8f27058-89e5-4c2f-9054-c93889233e9f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f27058-89e5-4c2f-9054-c93889233e9f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f27058-89e5-4c2f-9054-c93889233e9f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8f27058-89e5-4c2f-9054-c93889233e9f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}