#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58) ;
  filter: alpha(opacity=58) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0153231-262a-4f9a-a915-942a57bc4785 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}